main {
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(235, 233, 233);
}

.inputs {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.utilBoard {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
