main {
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(235, 233, 233);
}

.boardPallet {
  display: flex;
  margin: 5px;
}

.pallet {
  margin: 0 5px;
}

.randomBtn {
  margin: 5px;
}

.pixelBoard {
  margin: 5px;
  width: 400px;
  display: grid;
  gap: 0px;
}

.pixel {
  border: 0.1px  solid rgba(0, 0, 0, 0.5);
}